<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to my Angular Practice Page</h1>
    <p class="lead">Angular is a TypeScript-based open-source web application framework led by the Angular Team at Google and by a community of individuals and corporations. This site is my attempt to get familar with Angular's features and functionality. Check out an exciting temperature calculator and todo app to learn more!</p>
    <p class="lead">Finally, please register to get updates on exciting future content!</p>
  </div>
</div>
