
h4{
  margin-left: 5rem;
  padding: 1rem;
}

.first, .second, .third {
  font-size: larger;
  color: white;
  display: inline-block;
  width: 300px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 15px 20px;
 }

