<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div *ngIf="loginError" class="alert alert-danger m-">
  Invalid credential, please verify!
</div>

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <H3>User Login</H3>
    <!-- Login Form -->
    <form class="userlogin">
      <input [(ngModel)]="email" id="login" class="fadeIn second" name="email" placeholder="email">
      <br>
      <input [(ngModel)]="password" id="password" class="fadeIn third" name="password" placeholder="password">
      <br>
      <br>

      <button (click)="login()" class="btn btn-info">Login</button>
    </form>
  </div>
</div>
